---
---

@import "functions";
@import "global";
@import "base";
@import "clearfix";
@import "dropshadow";
@import "grid";
@import "reset";

@include grid($block-size: 10em, $columns: 12, $gutter: 1.5em);

.navbar {
    @extend %clearfix;

    width: 100%;
    padding: 1em .5em;

    &-colored {
        @include dropshadow(2);

        background-color: $accent-color;
        color: $light-color;
        height: 3.5em;
        padding: 0;
        overflow: hidden;;
    }

    > ul {
        margin: 0;
        list-style: none;
    }

    &-left { float: left; }

    &-right { float: right; }

    &-item {
        float: left;

        > a {
            display: block;
            padding: .75em 1em;
            text-transform: uppercase;
            font-weight: bold;
            color: $light-color;
            border-radius: $roundness;
            border: 0;
            opacity: .5;

            &:focus { opacity: 1; }

            &:hover {
                opacity: 1;
                background-color: rgba(255, 255, 255, .4);
            }

            &:active {
                opacity: 1;
                background-color: rgba(255, 255, 255, .5);
            }

            .navbar-colored & {
                padding: 1em;
                border-radius: 0;
                opacity: 1;

                &:hover { background-color: rgba(0,0,0,0.1); }

                &:active { background-color: rgba(0,0,0,0.2); }
            }
        }
    }

    &-logo {
        height: 2em;
        margin: .75em;
    }
}
