---
---

@import "functions";
@import "global";
@import "base";
@import "clearfix";

html, body { height: 100%; }

.navbar {
  @extend %clearfix;

  width: 100%;
  padding: .5em;

  > ul { list-style: none; }

  &-left { float: left; }

  &-right { float: right; }

  &-item {
    float: left;

    > a {
      display: block;
      padding: .75em 1em;
      text-transform: uppercase;
      font-weight: bold;
      color: $light-color;
      border-radius: $roundness;
      border: 0;
      opacity: .5;

      &:focus { opacity: 1; }

      &:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, .4);
      }

      &:active {
        opacity: 1;
        background-color: rgba(255, 255, 255, .5);
      }
    }
  }
}

.banner {
  background-image: url(../../assets/images/banner/banner44.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;

  &-content {
    max-width: 27em;
    margin: auto;
    padding: 2em 1em 8em;
  }

  &-form {
    input { border: 0; }

    [type="text"] { padding: .45em 1em .5em; }
  }
}
