---
---


/**************
! CONFIGURATION
***************/

$font-size: 16px;
$font-line-height: 24px;


/**************
! IMPORT STYLES
***************/

@import "global";
@import "functions";
@import "base";
@import "grid";
@import "effects";
@import "animations";
@import "modal";


/*************
! GRID OPTIONS
**************/

@include grid($block-size: 10em, $columns: 12, $gutter: 1.5em);


/*************
 ! BASE STYLES
 *************/

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: .5em;
}

ul, ol { margin-left: 1em; }

li { padding: .5em; }

ol.fancy {
    margin-left: 2em;
    list-style: none;
    counter-reset: numList;

    li {
        position: relative;
        padding: 1em;

        &:before {
            counter-increment: numList;
            content: counter(numList);

            position: absolute;
            left: -2em;
            top: .75em;
            text-align: center;
            line-height: 2em;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background-color: darken($light-color, 5%);
            color: lighten($dark-color, 20%);
        }
    }
}


/***************
! NAVIGATION BAR
****************/

nav {
    &.fixed {
        @media screen and (max-width: 640px) {
            background-color: $dark-color;
            color: $light-color;

            a { color: $light-color; }

            .navigation { text-align: left;}

            .menu { display: block; }

            .menu, .navigation a {
                @include transition;

                border-bottom: 1px solid lighten($dark-color, 5%);

                &:focus, &:hover { background-color: darken($dark-color, 3%); }

                &:active { background-color: darken($dark-color, 5%); }
            }
        }
    }

    &.collapsed {
        @media screen and (max-width: 640px) {
            .navigation a {
                height: 0;
                padding-top: 0;
                padding-bottom: 0;
                border: 0;
                overflow: hidden;
                opacity: 0;
            }
        }
    }

    @media screen and (min-width: 640px) {
        width: 100%;
        border-bottom: 1px solid darken($light-color, 5%);
        color: $dark-color;

        &:before, &:after {
            content: "";
            display: table;
        }

        &:after { clear: both; }

        &.fixed {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            background-color: rgba(0,0,0,.5);
            border-bottom: none;
            color: $light-color;

            a { color: $light-color; }
        }
    }

    .menu {
        &:before {
            content: "\2630";
            font-size: 2em;
        }

        &:after {
            content: "Menu";
            vertical-align: .3em;
            padding: .5em;
            font-weight: 700;
            text-transform: uppercase;
        }

        display: none;
        padding: .5em 1em;
    }

    a { color: $dark-color; }

    .logo {
        display: block;
        text-align: center;
        padding: 1.25em 0 0 1.75em;

        @media screen and (min-width: 640px) { float: left; }

        @media screen and (max-width: 640px) { border-bottom: 1px solid darken($light-color, 5%); }
    }

    .navigation {
        text-align: center;
        text-transform: uppercase;
        margin: 0;

        li { padding: 0; }

        li, a { display: block; }

        a {
            font-weight: 700;

            @media screen and (min-width: 640px) {
                padding: 1.5em;

                &:focus, &:hover { box-shadow: inset 0 -4px 0 $accent-color; }

                &:active { box-shadow: inset 0 -4px 0 darken($accent-color, 20%); }
            }

            @media screen and (max-width: 640px) {
                padding: 1em;
                border-bottom: 1px solid darken($light-color, 5%);

                &:focus, &:hover { background-color: darken($light-color, 5%); }

                &:active { background-color: darken($light-color, 10%); }
            }
        }

        @media screen and (min-width: 640px) {
            float: right;

            li, a { display: inline-block; }
        }
    }
}


/*******
! FOOTER
********/

footer {
    border-top: 1px solid darken($light-color, 5%);
    color: lighten($dark-color, 30%);
    text-align: center;
    font-size: .9em;

    a { color: lighten($dark-color, 30%); }
}


/**************
! COMMON STYLES
***************/

.container {
    max-width: 60em;
    margin: auto;
}

.content {
    p { margin-bottom: 2em;  }
}

.container {
    margin-top: 1em;
    margin-bottom: 1em;

    .col {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.title {
    font-weight: 700;
    font-size: 3.5em;
    margin-top: 2em;

    &:after {
        content: "";
        display: block;
        height: .125em;
        width: 1em;
        margin-bottom: .5em;
        background-color: lighten($dark-color, 60%);
    }
}

.center { text-align: center; }

@mixin bg-slide($slide) {
    background-image: url(../new-website-assets/Assets/cover/bg-home-300.jpg);

    @media only screen and (min-device-width: 320px) { background-image: url(../new-website-assets/Assets/cover/bg-home-300.jpg);}

    @media only screen and (min-device-width: 700px),
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-device-width: 320px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-device-width: 320px),
        only screen and (min-device-pixel-ratio: 2) and (min-device-width: 320px),
        only screen and (min-resolution: 192dpi) and (min-device-width: 320px),
        only screen and (min-resolution: 2dppx) and (min-device-width: 320px) { background-image: url(../new-website-assets/Assets/cover/bg-home-1300.jpg); }

    @media only screen and (min-device-width: 1300px),
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 700px),
        only screen and (min--moz-device-pixel-ratio: 2) and (min-device-width: 700px),
        only screen and (-o-min-device-pixel-ratio: 2/1) and (min-device-width: 700px),
        only screen and (min-device-pixel-ratio: 2) and (min-device-width: 700px),
        only screen and (min-resolution: 192dpi) and (min-device-width: 700px),
        only screen and (min-resolution: 2dppx) and (min-device-width: 700px) { background-image: url(../new-website-assets/Assets/cover/bg-home-1600.jpg); }
}

.cover {
    border-bottom: 1px solid darken($light-color, 5%);
    background-image: url(../new-website-assets/Assets/cover/bg-home-3000.jpg);
    background-repeat: no-repeat;
    padding: 1.5em;

    &.full {
        display: table;
        table-layout: fixed;
        width: 100%;
        padding-top: 3em;
        padding-bottom: 3em;
        color: $light-color;

        @media screen and (min-width: 640px) {
            padding-top: 9em;
            padding-bottom: 6em;
        }

        a {
            &, &:focus, &:hover, &:active { color: $light-color; }

            &:not(.button) {
                &:focus, &:hover { border-bottom: 1px solid fade-out($light-color, 0.5); }

                &:active { border-bottom: 1px solid fade-out($light-color, 0.7); }
            }
        }

        .cover-content {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .button {
        font-size: 1.2em;
        padding: .75em 2em;
    }

    &.campus {

        @include prefix(background-size, cover);
        @include bg-slide(home);

        background-color: #674647;
    }
}

.feature {
    border-bottom: 1px solid darken($light-color, 5%);

    &.alt { background-color: darken($light-color, 1%); }

    img { margin: 0 1em; }
}

.testimonials {
    background-color: darken($light-color, 1%);

    img {
        @include opacity(.5);
        @extend %grayscale;

        &:focus, &:hover, &:active {;
            @include opacity(1);
            @extend %nofilter;
        }
    }
}

.tab {
    @extend %transition;

    margin: 0 1em;
    padding: .5em 1em;
    border-radius: $roundness;
    cursor: pointer;

    &:focus, &:hover, &:active { background-color: darken($light-color, 10%); }

    &.current { background-color: darken($light-color, 5%); }
}

.pane {
    display: none;

    &.current {
        @extend %fadein;

        display: block;
    }
}


.image-border {
    @extend .center;

    img {
        border: 2px solid $dark-color;
        border-radius: $roundness;
    }
}
