---
---


/**************
! CONFIGURATION
***************/

$font-size: 16px;
$font-line-height: 24px;


/**************
! IMPORT STYLES
***************/

@import "global";
@import "base";
@import "grid";
@import "effects";
@import "animations";
@import "modal";


/*************
! GRID OPTIONS
**************/

@include grid($block-size: 10em, $columns: 12, $gutter: 1.5em);


/*************
 ! BASE STYLES
 *************/

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: .5em;
}

ul, ol { margin-left: 1em; }

li { padding: .5em; }

ol.fancy {
    margin-left: 2em;
    list-style: none;
    counter-reset: numList;

    li {
        position: relative;
        padding: 1em;

        &:before {
            counter-increment: numList;
            content: counter(numList);

            position: absolute;
            left: -2em;
            top: .75em;
            text-align: center;
            line-height: 2em;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background-color: darken($light-color, 5%);
            color: lighten($dark-color, 20%);
        }
    }
}


/***************
! NAVIGATION BAR
****************/

nav {
    @media screen and (min-width: 640px) {
        border-bottom: 1px solid darken($light-color, 5%);

        &:before, &:after {
            content: "";
            display: table;
        }

        &:after { clear: both; }
    }

    .logo {
        display: block;
        text-align: center;
        padding: 1em 1.75em;

        @media screen and (min-width: 640px) { float: left; }

        @media screen and (max-width: 640px) { border-bottom: 1px solid darken($light-color, 5%); }
    }

    .navigation {
        text-align: center;
        text-transform: uppercase;
        margin: 0;

        li { padding: 0; }

        li, a { display: block; }

        a {
            color: $dark-color;
            font-weight: 700;

            @media screen and (min-width: 640px) {
                padding: 1.75em;

                &:focus, &:hover { box-shadow: inset 0 -4px 0 $accent-color; }

                &:active { box-shadow: inset 0 -4px 0 darken($accent-color, 20%); }
            }

            @media screen and (max-width: 640px) {
                padding: 1em;
                border-bottom: 1px solid darken($light-color, 5%);

                &:focus, &:hover { background-color: darken($light-color, 5%); }

                &:active { background-color: darken($light-color, 10%); }
            }
        }

        @media screen and (min-width: 640px) {
            float: right;

            li, a { display: inline-block; }
        }
    }
}


/*******
! FOOTER
********/

footer {
    border-top: 1px solid darken($light-color, 5%);
    color: lighten($dark-color, 30%);
    text-align: center;
    font-size: .9em;

    a { color: lighten($dark-color, 30%); }
}


/**************
! COMMON STYLES
***************/

.section { padding: 1em; }

.container {
    max-width: 60em;
    margin: auto;
    padding: 1em;

    @media only screen and (min-width: 60em) { padding: 2em; }
}

.content {
    p { margin-bottom: 2em;  }
}

.container {
    margin-top: 1em;
    margin-bottom: 1em;

    .col {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.title {
    font-weight: 700;
    font-size: 3.5em;
    margin-top: 2em;

    &:after {
        content: "";
        display: block;
        height: .125em;
        width: 1em;
        margin-bottom: .5em;
        background-color: lighten($dark-color, 60%);
    }
}

.center { text-align: center; }

.cover {
    padding: 1.5em;
    border-bottom: 1px solid darken($light-color, 5%);
    background-image: url(../new-website-assets/Assets/bg-home-3000.jpg);
    background-repeat: no-repeat;


    &.full {
        display: table;
        table-layout: fixed;
        min-height: 100%;
        width: 100%;

        .cover-content {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .button {
        font-size: 1.2em;
        padding: .75em 2em;
    }

    &.campus {
        padding: 5em;
        background-color: #7c5ff9;
        background-image: url(../new-website-assets/Assets/export.png);
        background-repeat: repeat;
    }
}

.feature {
    border-bottom: 1px solid darken($light-color, 5%);

    &.alt { background-color: darken($light-color, 1%); }

    img { margin: 0 1em; }
}

.testimonials {
    background-color: darken($light-color, 1%);

    img {
        @include opacity(.5);
        @extend %grayscale;

        &:focus, &:hover, &:active {;
            @include opacity(1);
            @extend %nofilter;
        }
    }
}

.tab {
    @extend %transition;

    margin: 0 1em;
    padding: .5em 1em;
    border-radius: $roundness;
    cursor: pointer;

    &:focus, &:hover, &:active { background-color: darken($light-color, 10%); }

    &.current { background-color: darken($light-color, 5%); }
}

.pane {
    display: none;

    &.current {
        @extend %fadein;

        display: block;
    }
}


.image-border {
    @extend .center;

    img {
        border: 2px solid $dark-color;
        border-radius: $roundness;
    }
}