---
layout: boilerplate
title: Scrollback, where communities hang out
attribution: Photo credit <a href="https://www.flickr.com/photos/weexinsitu" target="_blank">flickr.com/photos/weexinsitu.</a>
---

<!-- div style='line-height: 48px; background: rgba(0,0,0,0.5); color: #fff; position: absolute; top: 72px; width: 100%; text-align: center; '>
<strong>Scheduled downtime update:</strong> 
Scrollback is undergoing scheduled maintenance. We expect it to come back online at
<script>document.write(new Date('2015-02-10T08:30:00Z').toTimeString())</script>.
Apologies for the downtime.
</div -->

{% include nav-fixed.html %}

<!--[if IE]>
<div class="ie warning">
    <h2>You are using an outdated browser!</h2>
    <p>Please <a href="http://browsehappy.com">upgrade</a> to a modern browser.</p>
</div>
<![endif]-->

<section class="cover campus full">
    <div class="cover-content">
        <div class="container">
            <p><img src="/assets/images/scrollback-large.svg"></p>
            <h1>Where communities hang out</h1>
            <a class="login-show button">Get started</a>
            <p style="text-decoration : underline; font-weight: bold"><a href="https://scrollback.io/me" target="_blank">Try it first</a></p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="feat">
        <article class="container center">
            <div class="row">
                <div class="col">
                    <h3>Nurture your community with meaningful conversations.</h3>
                    <p>Create rooms based on your interest or follow existing ones.<br> Share ideas, discuss realtime and redefine your online community experience with Scrollback.</p>
                </div>
            </div>
        </article>
    </div>
</section>


<section class="feature">
    <div class="container center">
        <div class="row">
            <h2>Features designed for your community</h2>
            <div class="col large-4 medium-6 small-12">
                <img src="/new-website-assets/Assets/conversations.png" alt="Search" width="200">
                <p>Engaging real–time conversations</p>
            </div>
            <div class="col large-4 medium-6 small-12">
                <img src="/new-website-assets/Assets/archives.png" alt="Follow" width="200">
                <p>Content rich archives</p>
            </div>
            <div class="col large-4 medium-6 small-12">
                <img src="/new-website-assets/Assets/configuration.png" alt="Follow" width="200">
                <p>Stay in control</p>
            </div>
              <a class="button" href="/features">See all features</a>
        </div>
    </div>
</section>


<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col">
            <h1>Who uses Scrollback?</h1>
            </div>
        </div>
    </div>
</section>

<section class="feature">
    <div class="feat">
        <article class="container">
            <div class="row">
                <img class="col medium-left" src="/new-website-assets/Assets/community.svg" alt="Community" width="250">
                <div class="col">
                    <h2>Community Managers</h2>
                    <p>Create an engaging and interactive community using Scrollback. Empower your members to go beyond static comments and have interesting, two-way conversations and discussions.</p>
                    <p><a href="http://web.scrollback.io/community/">Read more...</a></p>
                </div>
            </div>
        </article>
    </div>
</section>

<section class="feature">
    <div class="feat">
        <article class="container">
            <div class="row">
                <img class="col medium-right" src="/new-website-assets/Assets/bloggers.svg" alt="Bloggers and website owners" width="250">
                <div class="col">
                    <h2>Bloggers and Website Owners</h2>
                    <p>Build a community around your website and blog by engaging your visitors in conversations using the Scrollback chat widget.</p>
                    <p><a href="http://web.scrollback.io/websites/">Read more...</a></p>
                </div>
            </div>
        </article>
    </div>
</section>

<section class="feature">
    <div class="feat">
        <article class="container">
            <div class="row">
                <img class="col medium-left" src="/new-website-assets/Assets/irc.svg" alt="IRC" width="250">
                <div class="col">
                    <h2>IRC Channel Operators</h2>
                    <p>Integrate your IRC channel with your Scrollback room and bring it to the wider audience.</p>
                    <p><a href="http://web.scrollback.io/irc/">Read more...</a></p>
                </div>
            </div>
        </article>
    </div>
</section>

<section class="feature">
    <div class="feat">
        <article class="container">
            <div class="row">
                <img class="col medium-right" src="/new-website-assets/Assets/events.svg" alt="Events" width="250">
                <div class="col">
                    <h2>Event Managers</h2>
                    <p>Create a buzz around your event with Scrollback. Help your audience connect and network with one another, engage with the speakers and stay involved through extended discussions.</p>
                    <p><a href="http://web.scrollback.io/event/">Read more...</a></p>
                </div>
            </div>
        </article>
    </div>
</section>

 <section class="feature">
    <div class="container center">
        <h1>Scrollback is used by</h1>
        <div class="row">
            <div class="col block-1">
                <a href="http://mozillaindia.org" target="_blank">
                    <img src="/assets/images/mozilla.png" alt="Mozilla India, Philippines, and many others.">
                </a>
            </div>
            <div class="col block-1">
                <a href="http://hasgeek.com/" target="_blank">
                    <img src="/assets/images/hasgeek.png" alt="HasGeek">
                </a>
            </div>
            <div class="col block-1">
                <a href="http://jsconf.asia" target="_blank">
                    <img src="/assets/images/jsconf.png" alt="JSConf Asia">
                </a>
            </div>
            <div class="col block-1">
                <a href="http://numixproject.org" target="_blank">
                    <img src="/assets/images/numix.png" alt="Numix Project">
                </a>
            </div>
        </div>
    </div>
</section>

<div class="section feature">
    <div class="container center">
        <h3>Connect with us on</h3>
            <div class="row">
                <div class="col">
                    <a href="https://scrollback.io/help" target="_blank">
                        <img src="/assets/images/scrollback.png" alt="Scrollback" width="30">
                    </a>

                    <a href="https://www.facebook.com/scrollback" target="_blank">
                            <img src="/assets/images/facebook.png" alt="Facebook" width="30">
                    </a>
                    <a href="https://twitter.com/Scrollbackio" target="_blank">
                    <img src="/assets/images/twitter_logo.png" alt="Twitter" width="30">
                    </a>
                    <a href="https://www.linkedin.com/company/3883967?trk=vsrp_companies_cluster_name&trkInfo=VSRPsearchId%3A1157981071415184406851%2CVSRPtargetId%3A3883967%2CVSRPcmpt%3Acompanies_cluster" target="_blank">
                        <img src="/assets/images/linkedin.png" alt="Linkedin" width="30">
                    </a>
                    <a href="mailto:evans@scrollback.io" target="_blank">
                    <img src="/assets/images/email.png" alt="Email" width="30">
                    </a>
                </div>
             </div>
    </div>
</div>

<script id="goto-template" type="text/template">
    <h2>Create or visit a room </h2>
    <p>Type the name of the room you want</p>
    <form id="create-field">
        <label for="create-text">scrollback.io/</label>
        <input class="linked" type="text" id="create-text" placeholder="my-community" pattern="[a-z][a-z0-9-]{2,31}" oninvalid="setCustomValidity('Please enter a valid room name')" onchange="try{setCustomValidity('')}catch(e){}" /><input class="linked" type="submit" value="Go" disabled />
        <p class="error"></p>
    </form>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script src="/assets/js/script.js"></script>
        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-45130412-1', 'scrollback.io');
            ga('send', 'pageview');
        </script>

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
<script src="/lace/src/js/jquery.lace.js"></script>
<script src="/lace/src/js/jquery.modal.js"></script>
<script src="/assets/js/main.js"></script>
