---
layout: boilerplate
title: Scrollback, where communities hang out
permalink: /new/
attribution: Photo credit <a href="https://www.flickr.com/photos/weexinsitu" target="_blank">flickr.com/photos/weexinsitu.</a>
---

{% include nav-fixed.html %}

<!--[if IE]>
<div class="ie warning">
    <h2>You are using an outdated browser!</h2>
    <p>Please <a href="http://browsehappy.com">upgrade</a> to a modern browser.</p>
</div>
<![endif]-->

<section class="cover campus full">
    <div class="cover-content">
        <div class="container">
            <p><img src="/assets/images/scrollback-large.svg"></p>
            <h1>Where communities hang out.</h1>
            <a class="login-show button">Get started</a>
            <!-- <p><a id="trial-room">Try it first</a></p> -->
        </div>
    </div>
</section>

<section class="feature">
    <div class="feat">
        <article class="container">
            <div class="row">
                <div class="col">
                    <h3>Share ideas and nurture your community with meaningful discussions.</h3>
                    <p>Build your community by creating rooms based on your interest or follow existing rooms that cater to you.</p>
                </div>
            </div>
        </article>
    </div>
</section>

<!--
<section class="feature">
    <div class="container center">
        <div class="row">
            <h2>Features, designed for your community</h2>
            <div class="col large-4 medium-6 small-12">
                <img src="/new-website-assets/Assets/thread.png" alt="Thread" width="200">
                <p>Easy to follow discussion threads</p>
            </div>
             <div class="col large-4 medium-6 small-12">
                <img src="/new-website-assets/Assets/embed.png" alt="Follow" width="200">
                <p>Easy to Embed</p>
            </div>
            <div class="col large-4 medium-6 small-12">
                <img src="/new-website-assets/Assets/conversations.png" alt="Search" width="200">
                <p>Engaging real – time conversations</p>
            </div>
            <div class="col large-4 medium-6 small-12">
                <img src="/new-website-assets/Assets/follow2.png" alt="Follow" width="200">
                <p>Create and follow community rooms</p>
            </div>
            <div class="col large-4 medium-6 small-12">
                <img src="/new-website-assets/Assets/archives.png" alt="Follow" width="200">
                <p>Content Rich Archives</p>
            </div>
            <div class="col large-4 medium-6 small-12">
                <img src="/new-website-assets/Assets/configuration.png" alt="Follow" width="200">
                <p>Stay in control</p>
            </div>
              <a class="button">See all features</a>
        </div>
    </div>
</section>
-->

<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col">
            <h1>Who uses Scrollback?</h1>
            </div>
        </div>
    </div>
</section>

<section class="feature">
    <div class="feat">
        <article class="container">
            <div class="row">
                <img class="col medium-left" src="/new-website-assets/Assets/community.svg" alt="Community" width="250">
                <div class="col">
                    <h2>Community Managers</h2>
                    <p>Create an engaging and interactive community using Scrollback. Empower your members to go beyond static comments and nurture interesting, two-way conversations and fruitful discussions.</p>
                </div>
            </div>
        </article>
    </div>
</section>

<section class="feature">
    <div class="feat">
        <article class="container">
            <div class="row">
                <img class="col medium-left" src="/new-website-assets/Assets/bloggers.svg" alt="Bloggers and website owners" width="250">
                <div class="col">
                    <h2>Bloggers and Website Owners</h2>
                    <p>Build a community around your website and blog by engaging your visitors in real time, immersive conversations.</p>
                    <!-- <p><a href="http://web.scrollback.io/websites/" target="_blank">Read more...</a></p> -->
                </div>
            </div>
        </article>
    </div>
</section>

<section class="feature">
    <div class="feat">
        <article class="container">
            <div class="row">
                <img class="col medium-left" src="/new-website-assets/Assets/irc.svg" alt="IRC" width="250">
                <div class="col">
                    <h2>IRC Channel Operator</h2>
                    <p>Integrate your IRC channel with your Scrollback room and bring it to the wider audience.</p>
                    <!-- <p><a href="http://web.scrollback.io/irc/" target="_blank">Read more...</a></p> -->
                </div>
            </div>
        </article>
    </div>
</section>

<section class="feature">
    <div class="feat">
        <article class="container">
            <div class="row">
                <img class="col medium-left" src="/new-website-assets/Assets/events.svg" alt="Events" width="250">
                <div class="col">
                    <h2>Event Managers</h2>
                    <p>Create a buzz around your event with Scrollback. Help your audience connect and network with one another, engage with the speakers and stay involved through extended discussions.</p>
                </div>
            </div>
        </article>
    </div>
</section>

<script id="goto-template" type="text/template">
    <h2>Create or visit a room </h2>
    <p>Type the name of the room you want</p>
    <form id="create-field">
        <label for="create-text">scrollback.io/</label>
        <input class="linked" type="text" id="create-text" placeholder="my-community" pattern="[a-z][a-z0-9-]{2,31}" oninvalid="setCustomValidity('Please enter a valid room name')" onchange="try{setCustomValidity('')}catch(e){}" /><input class="linked" type="submit" value="Go" disabled />
        <p class="error"></p>
    </form>
</script>

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
<script src="/lace/src/js/jquery.lace.js"></script>
<script src="/lace/src/js/jquery.modal.js"></script>
<script src="/assets/js/main.js"></script>
