@import "global";
@import "base";
@import "animations";
@import "grid";

body {
    font-size: 16px;
    line-height: 24px;
}

h1, h2, h3, h4 { margin: .5em 0; }

.content {
    max-width: 40em;
    margin: auto;
}

header, main, footer { padding: .5em 1em; }

header {
    @extend %clearfix;

    .menu {

        @media only screen and (max-width: 75em) {
            fill: $light-color;
            display: block;
            float: right;
            padding: .5em;
        }
    }
}

.sidebar {
    @include transition;

    position: fixed;
    left: 1em;
    top: 30%;
    max-width: 15em;
    margin: 1em;
    padding: 1em;
    border-radius: $roundness;
    background-color: lighten($accent-color, 45%);
    z-index: 20;

    ul { list-style: none; }

    a {
        font-size: .8em;
        padding: .25em;
        display: block;
        color: darken($accent-color, 30%);

        &:focus, &:hover, &:active {
            color: darken($accent-color, 30%);
            text-decoration: underline;
        }
    }

    @media only screen and (max-width: 75em) {
        width: 15em;
        top: 0;
        bottom: 0;
        left: auto;
        right: -100%;
        margin: 0;
        background-color: $dark-color;
        color: $light-color;
        border-radius: 0;

        a {
            padding: 1em;
            color: $light-color;
            border-bottom: 1px solid rgba(255,255,255,0.1);

            &:focus, &:hover, &:active {
                text-decoration: none;
                color: $light-color;
                background-color: rgba(255,255,255,0.1);
            }
        }

        .menu-open & {
            right: 0;
        }
    }
}

.dim {
    display: none;

    @media only screen and (max-width: 75em) {
        .menu-open & {
            @include fadein;

            display: block;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,0.7);
        }
    }
}

header {
    border-bottom: 1px solid darken($dark-color, 10%);
    background-color: $dark-color;
    color: $light-color;
}

footer {
    border-top: 1px solid darken($dark-color, 10%);
    background-color: $dark-color;
    color: darken($light-color, 20%);
    text-align: center;
    font-size: .9em;

    a { color: darken($light-color, 20%); }
}
