<nav>
	<a class="logo" href="/">
		<img src="/assets/images/scrollback-small-dark.png">
	</a>
	<ul class="navigation">
		{% if page.permalink contains '/sca/' %}
			<li><a href="http://campus.scrollback.io" target="_blank">Blog</a></li>
			<li><a href="http://web.scrollback.io/careers/" target="_blank">Career</a></li>
		{% else %}
			<li><a href="http://blog.scrollback.io" target="_blank">Blog</a></li>
			<li><a href="http://web.scrollback.io/sca/" target="_blank">Students</a></li>
		{%endif%}
	</ul>
</nav>

