/* font settings */
/* colors */
/* misc */
/* font settings */
/* colors */
/* misc */
/*
 * CSS reset based on:
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * Normalize.css (http://necolas.github.io/normalize.css/)
 */
/* set the viewport properties (limited browser support) */
@viewport {
  width: device-width;
  user-zoom: fixed;
  zoom: 1;
  min-zoom: 1;
  max-zoom: 1; }
/* set box sizing to a more natural layout */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* remove tap highlight in webkit */
* {
  -webkit-tap-highlight-color: transparent; }

html {
  /* set default font family to sans-serif */
  font-family: sans-serif;
  /* remove iOS text size adjust without disabling user zoom */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* eliminate 300ms click delay */
  -ms-touch-action: manipulation;
  /* IE10 */
  touch-action: manipulation;
  /* IE11 */ }

/* reset default properties */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display styles for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* address "[hidden]"" styling not present in IE */
[hidden] {
  display: none; }

body {
  line-height: 1; }

/* remove the gray background color from active links in IE */
a {
  background: transparent;
  cursor: pointer; }

/* remove outlines on links */
a:focus, a:hover, a:active {
  outline: 0; }

/* address style set to "bolder" in Firefox, Safari, and Chrome */
b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

/* remove border when inside "a" element in IE */
img {
  border: 0; }

/* correct overflow not hidden in IE */
svg:not(:root) {
  overflow: hidden; }

/* contain overflow in all browsers. */
pre {
  overflow: auto; }

/* fix inheritance in form elements */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* address "overflow" set to "hidden" in IE */
button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* re-set default cursor for disabled elements */
button[disabled], input[disabled] {
  cursor: default; }

/* remove inner padding and border in Firefox */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

textarea {
  overflow: auto; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* remove most spacing between table cells */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.entry.multientry .item, input.multientry[type="entry"] .item, input.multientry[type="text"] .item, input.multientry[type="search"] .item, input.multientry[type="email"] .item, textarea.multientry .item {
  -webkit-filter: none;
  -ms-filter: none;
  filter: none; }

/* animations and transitions */
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-moz-keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-ms-keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-webkit-keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-moz-keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-ms-keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
.entry.multientry .item, input.multientry[type="entry"] .item, input.multientry[type="text"] .item, input.multientry[type="search"] .item, input.multientry[type="email"] .item, textarea.multientry .item {
  -webkit-filter: none;
  -ms-filter: none;
  filter: none; }

/* mixins */
/* base styles */
html {
  font-size: 62.5%; }

body {
  background: white;
  color: #323a38;
  font: 14px/21px "Open Sans", "Myriad Pro", Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif; }

a {
  color: #33ccaa;
  text-decoration: none; }
  a:hover, a:focus {
    color: #248f77; }
  a:active {
    color: #145244; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4 {
  line-height: 1.5em;
  font-family: "Open Sans", "Open Sans Light", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 400; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em; }

p {
  margin: .5em 0; }

input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border-radius: 2px;
  background-color: #f2f2f2; }

code {
  font-weight: 700;
  font-family: Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono", "Courier New", monospace;
  line-height: 1.2em; }

input[type="entry"], input[type="text"], input[type="search"], input[type="email"], textarea, .button, input[type="submit"], input[type="button"], .google, .twitter, .facebook, .persona, .openid {
  display: inline-block;
  margin: .5em 0;
  padding: .8em 1.2em;
  font-size: 1em;
  outline: none; }
  input[type="entry"]:hover, input[type="text"]:hover, input[type="search"]:hover, input[type="email"]:hover, textarea:hover, .button:hover, input[type="submit"]:hover, input[type="button"]:hover, .google:hover, .twitter:hover, .facebook:hover, .persona:hover, .openid:hover, input[type="entry"]:focus, input[type="text"]:focus, input[type="search"]:focus, input[type="email"]:focus, textarea:focus, .button:focus, input[type="submit"]:focus, input[type="button"]:focus, .google:focus, .twitter:focus, .facebook:focus, .persona:focus, .openid:focus, input[type="entry"]:active, input[type="text"]:active, input[type="search"]:active, input[type="email"]:active, textarea:active, .button:active, input[type="submit"]:active, input[type="button"]:active, .google:active, .twitter:active, .facebook:active, .persona:active, .openid:active {
    outline: none; }

.button, input[type="submit"], input[type="button"] {
  border: 1px solid #33ccaa;
  border-bottom-color: #29a388;
  border-radius: 2px;
  background-color: #33ccaa;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .button:hover, input[type="submit"]:hover, input[type="button"]:hover, .button:focus, input[type="submit"]:focus, input[type="button"]:focus {
    background-color: #2eb899;
    border-color: #2eb899;
    color: white; }
  .button:active, input[type="submit"]:active, input[type="button"]:active {
    background-color: #29a388;
    border-color: #29a388;
    color: white; }
  .button.working, input.working[type="submit"], input.working[type="button"], .button.working:hover, input.working[type="submit"]:hover, input.working[type="button"]:hover, .button.working:focus, input.working[type="submit"]:focus, input.working[type="button"]:focus, .button.working:active, input.working[type="submit"]:active, input.working[type="button"]:active {
    background-color: #29a388;
    border-color: #29a388;
    color: #c1efe5; }
  .button.secondary, input.secondary[type="submit"], input.secondary[type="button"] {
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    color: #4a5552; }
    .button.secondary:hover, input.secondary[type="submit"]:hover, input.secondary[type="button"]:hover, .button.secondary:focus, input.secondary[type="submit"]:focus, input.secondary[type="button"]:focus {
      background-color: #f7f7f7;
      border-color: #b3b3b3;
      color: #3e4845; }
    .button.secondary:active, input.secondary[type="submit"]:active, input.secondary[type="button"]:active {
      background-color: #ededed;
      border-color: #cccccc;
      color: #556360; }
  .button.disabled, input.disabled[type="submit"], input.disabled[type="button"], input[type="submit"]:disabled, input[type="button"]:disabled, .button.disabled:hover, input.disabled[type="submit"]:hover, input.disabled[type="button"]:hover, input[type="submit"]:hover:disabled, input[type="button"]:hover:disabled, .button.disabled:focus, input.disabled[type="submit"]:focus, input.disabled[type="button"]:focus, input[type="submit"]:focus:disabled, input[type="button"]:focus:disabled, .button.disabled:active, input.disabled[type="submit"]:active, input.disabled[type="button"]:active, input[type="submit"]:active:disabled, input[type="button"]:active:disabled {
    background-color: #f2f2f2;
    border-color: #d9d9d9;
    color: #b0bbb8;
    pointer-events: none; }

.entry, input[type="entry"], input[type="text"], input[type="search"], input[type="email"], textarea {
  border: 1px solid #cccccc;
  border-top-color: #b3b3b3;
  border-radius: 2px;
  background-color: white;
  color: #323a38;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .entry:hover, input[type="entry"]:hover, input[type="text"]:hover, input[type="search"]:hover, input[type="email"]:hover, textarea:hover, .entry:focus, input[type="entry"]:focus, input[type="text"]:focus, input[type="search"]:focus, input[type="email"]:focus, textarea:focus, .entry:active, input[type="entry"]:active, input[type="text"]:active, input[type="search"]:active, input[type="email"]:active, textarea:active {
    border-color: #b3b3b3;
    border-top-color: #999999;
    outline: none; }
  .entry.disabled, input.disabled[type="entry"], input.disabled[type="text"], input.disabled[type="search"], input.disabled[type="email"], textarea.disabled, input[type="entry"]:disabled, input[type="text"]:disabled, input[type="search"]:disabled, input[type="email"]:disabled, textarea:disabled {
    background-color: #e6e6e6; }
  .entry.error, input.error[type="entry"], input.error[type="text"], input.error[type="search"], input.error[type="email"], textarea.error {
    border-color: #ef513d; }
  .entry.multientry, input.multientry[type="entry"], input.multientry[type="text"], input.multientry[type="search"], input.multientry[type="email"], textarea.multientry {
    display: inline-block;
    min-width: 15em;
    min-height: 3em;
    padding: 0;
    cursor: text;
    /* fix firefox showing caret in wrong position */ }
    .entry.multientry .item, input.multientry[type="entry"] .item, input.multientry[type="text"] .item, input.multientry[type="search"] .item, input.multientry[type="email"] .item, textarea.multientry .item {
      -webkit-animation: appear 0.5s;
      -moz-animation: appear 0.5s;
      -ms-animation: appear 0.5s;
      -o-animation: appear 0.5s;
      animation: appear 0.5s;
      display: inline-block;
      min-width: 3em;
      margin: .4em 0 .4em .4em;
      padding: .2em .25em;
      border: 1px solid transparent;
      outline: none; }
      .entry.multientry .item:only-child, input.multientry[type="entry"] .item:only-child, input.multientry[type="text"] .item:only-child, input.multientry[type="search"] .item:only-child, input.multientry[type="email"] .item:only-child, textarea.multientry .item:only-child {
        width: 100%; }
      .entry.multientry .item:last-child, input.multientry[type="entry"] .item:last-child, input.multientry[type="text"] .item:last-child, input.multientry[type="search"] .item:last-child, input.multientry[type="email"] .item:last-child, textarea.multientry .item:last-child {
        min-width: 7em; }
      .entry.multientry .item.done, input.multientry[type="entry"] .item.done, input.multientry[type="text"] .item.done, input.multientry[type="search"] .item.done, input.multientry[type="email"] .item.done, textarea.multientry .item.done {
        background-color: #d6f5ee;
        border-color: #2eb899;
        border-radius: 2px; }
      .entry.multientry .item .item-remove, input.multientry[type="entry"] .item .item-remove, input.multientry[type="text"] .item .item-remove, input.multientry[type="search"] .item .item-remove, input.multientry[type="email"] .item .item-remove, textarea.multientry .item .item-remove {
        float: right;
        font-weight: bold;
        font-size: 1.5em;
        color: #2eb899;
        cursor: pointer; }

.google {
  border: 1px solid #d34836;
  border-bottom-color: #b03626;
  border-radius: 2px;
  background-color: #d34836;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .google:hover, .google:focus {
    background-color: #c43d2b;
    border-color: #c43d2b;
    color: white; }
  .google:active {
    background-color: #b03626;
    border-color: #b03626;
    color: white; }
  .google.working, .google.working:hover, .google.working:focus, .google.working:active {
    background-color: #b03626;
    border-color: #b03626;
    color: #f1c8c2; }

.twitter {
  border: 1px solid #55acee;
  border-bottom-color: #2795e9;
  border-radius: 2px;
  background-color: #55acee;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .twitter:hover, .twitter:focus {
    background-color: #3ea1ec;
    border-color: #3ea1ec;
    color: white; }
  .twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
    color: white; }
  .twitter.working, .twitter.working:hover, .twitter.working:focus, .twitter.working:active {
    background-color: #2795e9;
    border-color: #2795e9;
    color: #cce6f9; }

.facebook {
  border: 1px solid #3b5998;
  border-bottom-color: #2d4373;
  border-radius: 2px;
  background-color: #3b5998;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .facebook:hover, .facebook:focus {
    background-color: #344e86;
    border-color: #344e86;
    color: white; }
  .facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
    color: white; }
  .facebook.working, .facebook.working:hover, .facebook.working:focus, .facebook.working:active {
    background-color: #2d4373;
    border-color: #2d4373;
    color: #c4cde0; }

.persona {
  border: 1px solid #0096dd;
  border-bottom-color: #0073aa;
  border-radius: 2px;
  background-color: #0096dd;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .persona:hover, .persona:focus {
    background-color: #0085c4;
    border-color: #0085c4;
    color: white; }
  .persona:active {
    background-color: #0073aa;
    border-color: #0073aa;
    color: white; }
  .persona.working, .persona.working:hover, .persona.working:focus, .persona.working:active {
    background-color: #0073aa;
    border-color: #0073aa;
    color: #b2dff4; }

.openid {
  border: 1px solid #f78c40;
  border-bottom-color: #f56f0f;
  border-radius: 2px;
  background-color: #f78c40;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase; }
  .openid:hover, .openid:focus {
    background-color: #f67d28;
    border-color: #f67d28;
    color: white; }
  .openid:active {
    background-color: #f56f0f;
    border-color: #f56f0f;
    color: white; }
  .openid.working, .openid.working:hover, .openid.working:focus, .openid.working:active {
    background-color: #f56f0f;
    border-color: #f56f0f;
    color: #fcdcc5; }

.linked, .button.linked, input.linked[type="submit"], input.linked[type="button"], .entry.linked, input.linked[type="entry"], input.linked[type="text"], input.linked[type="search"], input.linked[type="email"], textarea.linked {
  border-radius: 0; }
  .linked:not(:only-of-type):not(:last-of-type) {
    border-right: none; }
  .linked:first-of-type {
    border-radius: 2px 0 0 2px; }
  .linked:last-of-type {
    border-radius: 0 2px 2px 0; }
  .linked:only-of-type {
    border-radius: 2px; }

.button.working:before, input.working[type="submit"]:before, input.working[type="button"]:before, .google.working:before, .twitter.working:before, .facebook.working:before, .persona.working:before, .openid.working:before {
  -webkit-animation: spin 1s ease infinite;
  -moz-animation: spin 1s ease infinite;
  -ms-animation: spin 1s ease infinite;
  -o-animation: spin 1s ease infinite;
  animation: spin 1s ease infinite;
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 1em;
  border-top: 2px solid currentColor;
  border-right: 2px solid transparent;
  border-bottom: 2px solid currentColor;
  border-left: 2px solid transparent;
  border-radius: 50%; }

.fadeout {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0; }

.grow {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease; }

a, .button, input[type="submit"], input[type="button"], .entry, input[type="entry"], input[type="text"], input[type="search"], input[type="email"], textarea, .google, .twitter, .facebook, .persona, .openid, .fadeout {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }

/* browser specific styles */
::selection {
  background-color: #33ccaa;
  color: white; }

::-moz-selection {
  background-color: #33ccaa;
  color: white; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6; }
  ::-webkit-scrollbar-thumb:vertical {
    min-height: 100px; }
  ::-webkit-scrollbar-thumb:horizontal {
    min-width: 100px; }
  ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:focus {
    background-color: #33ccaa; }
  ::-webkit-scrollbar-thumb:active {
    background-color: #29a388; }

.entry.multientry .item, input.multientry[type="entry"] .item, input.multientry[type="text"] .item, input.multientry[type="search"] .item, input.multientry[type="email"] .item, textarea.multientry .item {
  -webkit-filter: none;
  -ms-filter: none;
  filter: none; }

/* animations and transitions */
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slidedown {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    -moz-transform: translate3d(0, -10%, 0);
    -ms-transform: translate3d(0, -10%, 0);
    -o-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideup {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-moz-keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-ms-keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@keyframes appear {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }

  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-webkit-keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-moz-keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@-ms-keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
@keyframes fadein {
  0% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }

  100% {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; } }
.row, header {
  *zoom: 1; }
  .row:before, header:before, .row:after, header:after {
    content: "";
    display: table; }
  .row:after, header:after {
    clear: both; }

.row {
  margin-right: -1.5em;
  margin-left: -1.5em;
  margin-top: 0;
  margin-bottom: 0; }

.col {
  padding-right: 1.5em;
  padding-left: 1.5em; }

@media only screen {
  .small-left {
    float: left; }

  .small-right {
    float: right; }

  .small-1 {
    float: left;
    width: 8.33333%; }

  .small-2 {
    float: left;
    width: 16.66667%; }

  .small-3 {
    float: left;
    width: 25%; }

  .small-4 {
    float: left;
    width: 33.33333%; }

  .small-5 {
    float: left;
    width: 41.66667%; }

  .small-6 {
    float: left;
    width: 50%; }

  .small-7 {
    float: left;
    width: 58.33333%; }

  .small-8 {
    float: left;
    width: 66.66667%; }

  .small-9 {
    float: left;
    width: 75%; }

  .small-10 {
    float: left;
    width: 83.33333%; }

  .small-11 {
    float: left;
    width: 91.66667%; }

  .small-12 {
    float: left;
    width: 100%; } }
@media only screen and (min-width: 40.063em) {
  .medium-left {
    float: left; }

  .medium-right {
    float: right; }

  .medium-1 {
    float: left;
    width: 8.33333%; }

  .medium-2 {
    float: left;
    width: 16.66667%; }

  .medium-3 {
    float: left;
    width: 25%; }

  .medium-4 {
    float: left;
    width: 33.33333%; }

  .medium-5 {
    float: left;
    width: 41.66667%; }

  .medium-6 {
    float: left;
    width: 50%; }

  .medium-7 {
    float: left;
    width: 58.33333%; }

  .medium-8 {
    float: left;
    width: 66.66667%; }

  .medium-9 {
    float: left;
    width: 75%; }

  .medium-10 {
    float: left;
    width: 83.33333%; }

  .medium-11 {
    float: left;
    width: 91.66667%; }

  .medium-12 {
    float: left;
    width: 100%; } }
@media only screen and (min-width: 64.063em) {
  .large-left {
    float: left; }

  .large-right {
    float: right; }

  .large-1 {
    float: left;
    width: 8.33333%; }

  .large-2 {
    float: left;
    width: 16.66667%; }

  .large-3 {
    float: left;
    width: 25%; }

  .large-4 {
    float: left;
    width: 33.33333%; }

  .large-5 {
    float: left;
    width: 41.66667%; }

  .large-6 {
    float: left;
    width: 50%; }

  .large-7 {
    float: left;
    width: 58.33333%; }

  .large-8 {
    float: left;
    width: 66.66667%; }

  .large-9 {
    float: left;
    width: 75%; }

  .large-10 {
    float: left;
    width: 83.33333%; }

  .large-11 {
    float: left;
    width: 91.66667%; }

  .large-12 {
    float: left;
    width: 100%; } }
.block-1 {
  display: inline-block;
  vertical-align: top;
  width: 10em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-2 {
  display: inline-block;
  vertical-align: top;
  width: 20em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-3 {
  display: inline-block;
  vertical-align: top;
  width: 30em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-4 {
  display: inline-block;
  vertical-align: top;
  width: 40em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-5 {
  display: inline-block;
  vertical-align: top;
  width: 50em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-6 {
  display: inline-block;
  vertical-align: top;
  width: 60em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-7 {
  display: inline-block;
  vertical-align: top;
  width: 70em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-8 {
  display: inline-block;
  vertical-align: top;
  width: 80em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-9 {
  display: inline-block;
  vertical-align: top;
  width: 90em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-10 {
  display: inline-block;
  vertical-align: top;
  width: 100em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-11 {
  display: inline-block;
  vertical-align: top;
  width: 110em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.block-12 {
  display: inline-block;
  vertical-align: top;
  width: 120em;
  max-width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em; }

body {
  font-size: 16px;
  line-height: 24px; }

h1, h2, h3, h4 {
  margin: .5em 0; }

.content {
  max-width: 40em;
  margin: auto; }

header, main, footer {
  padding: .5em 1em; }

header .menu {
  display: none; }
  @media only screen and (max-width: 75em) {
    header .menu {
      fill: white;
      display: block;
      float: right;
      padding: .5em; } }

.sidebar {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  position: fixed;
  left: 1em;
  top: 30%;
  max-width: 15em;
  margin: 1em;
  padding: 1em;
  border-radius: 2px;
  background-color: #ebfaf7;
  z-index: 20; }
  .sidebar ul {
    list-style: none; }
  .sidebar a {
    font-size: .8em;
    padding: .25em;
    display: block;
    color: #145244; }
    .sidebar a:focus, .sidebar a:hover, .sidebar a:active {
      color: #145244;
      text-decoration: underline; }
  @media only screen and (max-width: 75em) {
    .sidebar {
      width: 15em;
      top: 0;
      bottom: 0;
      left: auto;
      right: -100%;
      margin: 0;
      background-color: #323a38;
      color: white;
      border-radius: 0; }
      .sidebar a {
        padding: 1em;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        .sidebar a:focus, .sidebar a:hover, .sidebar a:active {
          text-decoration: none;
          color: white;
          background-color: rgba(255, 255, 255, 0.1); }
      .menu-open .sidebar {
        right: 0; } }

.dim {
  display: none; }
  @media only screen and (max-width: 75em) {
    .menu-open .dim {
      -webkit-animation: fadein 0.5s;
      -moz-animation: fadein 0.5s;
      -ms-animation: fadein 0.5s;
      -o-animation: fadein 0.5s;
      animation: fadein 0.5s;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.7); } }

header {
  border-bottom: 1px solid #1a1f1e;
  background-color: #323a38;
  color: white; }

footer {
  border-top: 1px solid #1a1f1e;
  background-color: #323a38;
  color: #cccccc;
  text-align: center;
  font-size: .9em; }
  footer a {
    color: #cccccc; }

* {
  margin: 0; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px; }

.wrapper:after {
  content: "";
  display: block; }

footer, .wrapper:after {
  /* .push must be the same height as footer */
  height: 120px; }
